<!doctype html>
<html lang="{{ app.request.locale }}">
<!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                {% if seoTitle is defined and seoTitle %}
                    {{ seoTitle }}
                {% else %}
                    Каталог одежды и обуви look4wear.ru - ищем одежду для Вас!
                {% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="{% if seoDescription is defined %}{{ seoDescription|raw|striptags|slice(0, 300) }}{% else %}Каталог одежды и обуви look4wear.ru - ищем одежду для Вас!{% endif %}"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% if canonicalLink is defined and canonicalLink != '' %}
            <link rel="canonical" href="{{ canonicalLink }}"/>
        {% else %}
            <link rel="canonical" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block counters %}{% endblock %}
        {% if goods is defined and goods|length == 0 %}
            <meta name="robots" content="noindex">
        {% endif %}
        <meta name="Document-state" content="Dynamic">
        <meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate">
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block stylesheets %}
            {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts '@jquery' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts 'bundles/app/js/*' %}
                <script async type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
