<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ app.request.locale }}">
<!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                {% if seoTitle is defined and seoTitle %}
                    {{ seoTitle }}
                {% else %}
                    look4wear.ru - ищем одежду для Вас!
                {% endif %}
            {% endblock %}
        </title>
        {% block stylesheets %}
            {% stylesheets 'bundles/app/adriya/css/*' 'bundles/app/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets '@bootstrap_css' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts '@jquery' '@bootstrap_js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts 'bundles/app/adriya/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>
