{% extends 'AppBundle:look4wear:layout.html.twig' %}

{% block content %}
    {{ include('AppBundle:look4wear:goods.block.html.twig', { 'goods': goods }) }}
    {% if category.description %}
        {{ category.description|raw }}
    {% endif %}
    {% if categoryTopVendorsResult %}
        <div class="titleDiv">
            <h3>Популярные бренды этой категории:</h3>
        </div>
        {% if categoryTopVendorsResult|length > 0 %}
            {% for categoryTopVendor in categoryTopVendorsResult %}
                {% if loop.index <= 15 %}
                    {#{% if not loop.first %}#}
                        {#&bull;#}
                    {#{% endif %}#}
                    <a href="/filter/{{ category.alias }}/{{ categoryTopVendor.alias }}"
                       title="{{ category.title }} {{ categoryTopVendor.name }}. Товаров: {{ categoryTopVendor.count }} шт."
                       class="categoryTopVendor"
                    >
                        {{ categoryTopVendor.name }}
                    </a>
                    {#{% if loop.index % 5 == 0 %}#}
                        {#<br />#}
                    {#{% endif %}#}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
