{% extends 'AppBundle:look4wear:layout.html.twig' %}

{% block content %}
    {{ include('AppBundle:look4wear:goods.block.html.twig', { 'goods': goods }) }}
    {% if seoDescription %}
        {{ seoDescription|raw }}
    {% endif %}
    {% if categoryTopVendorsResult %}
        {{ include('AppBundle:look4wear:top.vendors.block.html.twig', { 'categoryTopVendorsResult': categoryTopVendorsResult, 'title': 'Другие бренды этой категории' }) }}
    {% endif %}
    {% if otherCategories %}
        <h3>Другие категории этого бренда:</h3>
        {% if otherCategories|length > 0 %}
            {% for alias, otherCategory in otherCategories %}
                {% if loop.index <= 15 %}
                    <a href="/filter/{{ alias }}/{{ vendorAlias }}"
                       title="{{ otherCategory.title }} {{ otherCategory.vendorName }}. Товаров: {{ otherCategory.count }} шт.">
                        {{ otherCategory.title }} ({{ otherCategory.count }} шт.)
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
