{% extends 'AppBundle:look4wear:layout.html.twig' %}

{% block content %}
    {{ include('AppBundle:look4wear:goods.block.html.twig', { 'goods': goods }) }}
    <h2>{{ actualCategory.title }} {{ vendor.name }}</h2>
    {% if seoDescription %}
        <div class="descriptionDiv">
            {{ seoDescription|raw }}
        </div>
    {% endif %}
    {% if categoryTopVendorsResult %}
        {{ include('AppBundle:look4wear:top.vendors.block.html.twig', { 'categoryTopVendorsResult': categoryTopVendorsResult, 'title': 'Другие бренды этой категории', 'vendorAlias': vendorAlias }) }}
    {% endif %}
    {% if otherCategories %}
        {{ include('AppBundle:look4wear:other.categories.block.html.twig', { 'otherCategories': otherCategories, 'title': 'Другие категории этого бренда' }) }}
    {% endif %}
{% endblock %}
