{% if pagination is defined %}
    {% if pageTitle %}
        <div class="titleDiv">
            <h1>{{ pageTitle }}</h1>
        </div>
    {% endif %}
    {% if childrenCategories|length > 0 %}
        {% for childrenCategory in childrenCategories %}
            {% if not loop.first %}
                &bull;
            {% endif %}
            <a class="childrenCategoryLink" href="/category/{{ childrenCategory.alias }}"><h4>{{ childrenCategory.name }}</h4></a>
        {% endfor %}
    {% endif %}
    <div class="row">
        {% for goodsItem in pagination %}
            <div class="col-sm-4 portfolio-item" data-goods-id="{{ goodsItem.id }}">
                <a target="_blank" rel="nofollow" href="{{ goodsItem.url|replace({'http:': ''}) }}" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <h3>
                                {{ goodsItem.getVendor.name }}
                                <br />
                                {{ goodsItem.name|length > 30 ? goodsItem.name|slice(0, 30) ~ '...' : goodsItem.name  }}
                            </h3>
                            <h4>
                                Цена:
                                {% if goodsItem.oldPrice %}
                                    <span class="oldPrice">{{ goodsItem.oldPrice }} руб</span>
                                    <br />
                                {% endif %}
                                <span class="goodsPrice">{{ goodsItem.price }} руб</span>
                            </h4>
                        </div>
                    </div>
                    <div class="goodsListImage">
                        {% if goodsItem.pictures %}
                            <img class="img-responsive" src="{{ goodsItem.pictures.0 | my_replace | imagine_filter('my_thumb') }}" alt="..." />
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endif %}