{% if goods is defined %}
    {% if pageTitle %}
        <div class="titleDiv">
            <h1>{{ pageTitle }}</h1>
        </div>
    {% endif %}
    {% if childrenCategories|length > 0 %}
        {% for childrenCategory in childrenCategories %}
            {% if not loop.first %}
                &bull;
            {% endif %}
            <a class="childrenCategoryLink" href="/category/{{ childrenCategory.alias }}"><h4>{{ childrenCategory.name }}</h4></a>
        {% endfor %}
    {% endif %}
    <div class="row">
        {% for goodsItem in goods %}
            <div class="col-sm-4 portfolio-item" data-goods-id="{{ goodsItem.attrs.goodsid }}">
                <a target="_blank" rel="nofollow" href="{{ goodsItem.attrs.url|replace({'http:': ''}) }}" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <h3>
                                {{ goodsItem.attrs.vendorname }}
                                <br />
                                {{ goodsItem.attrs.name|length > 30 ? goodsItem.attrs.name|slice(0, 30) ~ '...' : goodsItem.attrs.name  }}
                            </h3>
                            <h4>
                                Цена:
                                {% if goodsItem.attrs.oldprice %}
                                    <span class="oldPrice">{{ goodsItem.attrs.oldprice }} руб</span>
                                {% endif %}
                                <span class="goodsPrice">{{ goodsItem.attrs.price }} руб</span>
                            </h4>
                        </div>
                    </div>
                    <div class="goodsListImage">
                        {% if goodsItem.attrs.pictures %}
                            <img class="img-responsive" src="{{ goodsItem.attrs.pictures| json_decode.0 | my_replace | imagine_filter('my_thumb') }}" alt="..." />
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% if pagination is defined %}
        {{ include('AppBundle:look4wear:pagination.html.twig', { 'pagination': pagination }) }}
    {% endif %}
{% endif %}