{% if goods is defined %}
    <div style="margin: 0 auto; width: 40%;">
        <h4>Найдено {{ totalCount }} товара(ов):</h4>
    </div>
    <div class="row">
        {% for goodsItem in goods %}
            <div class="col-sm-4 portfolio-item" data-goods-id="{{ goodsItem.id }}">
                <a target="_blank" rel="nofollow" href="{{ goodsItem.url|replace({'http:': ''}) }}" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <h3>
                                {{ goodsItem.getVendor.name }}
                                <br />
                                {{ goodsItem.name|slice(0,30) }}...
                            </h3>
                            <h4>
                                Цена:
                                {% if goodsItem.oldPrice %}
                                    <span class="oldPrice">{{ goodsItem.oldPrice }} руб</span>
                                    <br />
                                {% endif %}
                                <span class="goodsPrice">{{ goodsItem.price }} руб</span>
                            </h4>
                        </div>
                    </div>
                    <div class="goodsListImage">
                        {% if goodsItem.pictures %}
                            <img class="img-responsive" src="{{ goodsItem.pictures.0 | imagine_filter('my_thumb') }}" alt="..." />
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}