{% extends 'AppBundle:look4wear:layout.html.twig' %}

{% block content %}
    {{ include('AppBundle:look4wear:search.form.html.twig') }}
    {% if goods is defined %}
        <ul>
        {% for goodsItem in goods %}
            <li>
                <ul>
                    <li>{{ goodsItem.name }}</li>
                    <li>{{ goodsItem.model }}</li>
                    <li>{{ goodsItem.description }}</li>
                    <li>
                        {% for picture in goodsItem.pictures %}
                            <img width="100" src="{{ picture|replace({'http:': ""}) }}">
                        {% endfor %}
                    </li>
                    {% if goodsItem.params %}
                        <li>
                            <ul>
                                {% for paramName, paramValue in goodsItem.params %}
                                    <li>{{ paramName }} : {{ paramValue }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
