{% extends 'AppBundle:look4wear:layout.html.twig' %}

{% block content %}
    {% if goods is defined %}
        <ul>
            {% for goodsItem in goods %}
                <li>
                    <ul>
                        <li>{{ goodsItem.name }}</li>
                        <li>{{ goodsItem.model }}</li>
                        <li>{{ goodsItem.description }}</li>
                        <li>
                            {% for picture in goodsItem.pictures %}
                                <img width="100" src="{{ picture|replace({'http:': ""}) }}">
                            {% endfor %}
                        </li>
                        {% if goodsItem.params %}
                            <li>
                                <ul>
                                    {% for paramName, paramValue in goodsItem.params %}
                                        <li>{{ paramName }} : {{ paramValue }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <section class="indexSection">
        <h1>look4wear.ru – ваш незаменимый помошник в шоппинге!</h1>
        <p>На нашем портале собрана мужская и женская одежда самых известных марок, а также обувь и аксессуары. Модные
            бренды размещают здесь свои каталоги, чтобы вы могли сделать покупки всего за пару кликов.</p>
        <div class="categoryBox">
            <a href="/catalog/dlya_jenshin" class="portfolio-link">
                <div class="categoryBoxImg">
                    <img class="b-lazy" src="/bundles/app/images/no-image.png" data-src="{{ asset('/bundles/app/images/main_jen.png') | imagine_filter('main_thumb') }}"
                         alt="">
                </div>
                <div class="categoryBoxDesrcr">
                    <h2>Женская одежда</h2>
                    <p>Последние коллекции по выгодным ценам!</p>
                </div>
            </a>
        </div>

        <div class="categoryBox">
            <a href="/catalog/dlya_mujchin" class="portfolio-link">
                <div class="categoryBoxImg">
                    <img class="b-lazy" src="/bundles/app/images/no-image.png" data-src="{{ asset('/bundles/app/images/main_muj.png') | imagine_filter('main_thumb') }}"
                         alt="">
                </div>
                <div class="categoryBoxDesrcr">
                    <h2>Мужская одежда</h2>
                    <p>Качественная одежда с доставкой!</p>
                </div>
            </a>
        </div>
        <div class="categoryBox">
            <a href="/catalog/dlya_malchikov" class="portfolio-link">
                <div class="categoryBoxImg">
                    <img class="b-lazy" src="/bundles/app/images/no-image.png" data-src="/bundles/app/images/main_boys.jpg"
                         alt="">
                </div>
                <div class="categoryBoxDesrcr">
                    <h2>Одежда для мальчиков</h2>
                    <p>Одежда для школы и повседневной жизни!</p>
                </div>
            </a>
        </div>
        <div class="categoryBox">
            <a href="/catalog/dlya_devochek" class="portfolio-link">
                <div class="categoryBoxImg">
                    <img class="b-lazy" src="/bundles/app/images/no-image.png" data-src="/bundles/app/images/main_girls.jpg"
                         alt="">
                </div>
                <div class="categoryBoxDesrcr">
                    <h2>Одежда для девочек</h2>
                    <p>Платья, юбки, одежда для школы и дома!</p>
                </div>
            </a>
        </div>
    </section>
{% endblock %}
