{% extends 'AppBundle:look4wear:base.html.twig' %}
{% block metatags %}
    {{ include('AppBundle:look4wear:meta.tags.html.twig', {'metaTags' : metaTags}) }}
{% endblock %}
{% block counters %}
    {% if (app.environment == 'prod') and ('.lan' not in app.request.host) %}
        {{ include('AppBundle:look4wear:counters.block.html.twig') }}
    {% endif %}
{% endblock %}

{% block header %}
    <header>
        <section>
            <aside>
                <a href="/">
                    <img style="margin: 5px 0;" src="/bundles/app/images/logo_L4W.svg" width="50px" title="look4wear.ru - сервис поиска одежды." alt="look4wear - сервис поиска одежды.">
                </a>
            </aside>
            {{ include('AppBundle:look4wear:search.form.html.twig') }}
            <nav role="navigation">
                <a href="/catalog_page">Каталог</a>
                <a href="/about">О пректе</a>
                <a href="/site_map">Карта сайта</a>
            </nav>
        </section>
        <section class="mainMenu">
            <nav role="navigation">
                <a href="/catalog_page">Каталог</a>
                <a href="/about">О пректе</a>
                <a href="/site_map">Карта сайта</a>
            </nav>
        </section>
    </header>
{% endblock %}
{% block body %}
    <main class="content">
        {% if breadcrumbs is defined %}
            <nav aria-label="breadcrumb" role="navigation">
                <ul class="breadcrumbs">
                    {% for breadcrumb in breadcrumbs %}
                        <li class="breadcrumb-item">
                            <a href="{{ breadcrumb.link }}">{{ breadcrumb.title }}</a>
                        </li>
                        {% if not loop.last %}
                            \
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
{% endblock %}
{% block footer %}
    <footer>
        <h4>Выбирайте одежду в нашем каталоге:</h4>
        <ul style="margin: 5px 0 10px 0; padding: 0;">
            <li><a href="/catalog/dlya_mujchin">Мужская одежда</a></li>
            <li><a href="/catalog/dlya_jenshin">Женская одежда</a></li>
            <li><a href="/catalog/dlya_malchikov">Одежда для мальчиков</a></li>
            <li><a href="/catalog/dlya_devochek">Одежда для девочек</a></li>
        </ul>
        <h4>Полезные ссылки:</h4>
        <ul style="margin: 5px 0 10px 0; padding: 0;">
            <li><a href="/site_map">Карта сайта</a></li>
            <li><a href="/about">О проекте</a></li>
            <li><a href="/shipping">Доставка и возврат</a></li>
        </ul>
    </footer>
{% endblock %}
