{% extends 'AppBundle:look4wear:base.html.twig' %}
{% block metatags %}
    {{ include('AppBundle:look4wear:meta.tags.html.twig') }}
{% endblock %}
{% block counters %}
    {% if (app.environment == 'prod') and ('.lan' not in app.request.host) %}
        {{ include('AppBundle:look4wear:counters.block.html.twig') }}
    {% endif %}
{% endblock %}

{% block header %}
    <div class="mobileBlock">
        <div class="menu__icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        {% if app.request.attributes.get('_route') != 'homepage' %}
            <a href="/">
                <img style="margin: 5px 0;" src="/bundles/app/images/logo_L4W.svg" width="50px" title="look4wear.ru - сервис поиска одежды." alt="look4wear - сервис поиска одежды.">
            </a>
        {% else %}
            <span>
                <img style="margin: 5px 0;" src="/bundles/app/images/logo_L4W.svg" width="50px" title="look4wear.ru - сервис поиска одежды." alt="look4wear - сервис поиска одежды.">
            </span>
        {% endif %}
    </div>
    <div class="menu__links">
        {% for menuItemKey, menuItemValue in menuItems %}
            {% if app.request.attributes.get('_route') == menuItemKey %}
                <span class="menu__links-item active">{{ menuItemValue }}</span>
            {% else %}
                <a class="menu__links-item" href="{{ path(menuItemKey) }}">
                    {{ menuItemValue }}
                </a>
            {% endif %}
        {% endfor %}
        <hr />
        {% if mainMenuCategories %}
            {% for mainMenuCategory in mainMenuCategories %}
                {% if app.request.attributes.get('_route') and app.request.attributes.get('_route_params') and path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == mainMenuCategory.link %}
                    <span class="menu__links-item active">{{ mainMenuCategory.title }}</span>
                {% else %}
                    <a class="menu__links-item" href="{{ mainMenuCategory.link }}">
                        {{ mainMenuCategory.title }}
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
        <hr />
        <section class="mobileCategoriesMenu">
            {% include 'AppBundle:look4wear:side.menu.html.twig'%}
        </section>
    </div>
    <header>
        <section>
            <aside>
                {% if app.request.attributes.get('_route') != 'homepage' %}
                    <a href="/">
                        <img style="margin: 5px 0;" src="/bundles/app/images/logo_L4W.svg" width="50px" title="look4wear.ru - сервис поиска одежды." alt="look4wear - сервис поиска одежды.">
                    </a>
                {% else %}
                    <span>
                        <img style="margin: 5px 0;" src="/bundles/app/images/logo_L4W.svg" width="50px" title="look4wear.ru - сервис поиска одежды." alt="look4wear - сервис поиска одежды.">
                    </span>
                {% endif %}
            </aside>
            {{ include('AppBundle:look4wear:search.form.html.twig') }}
            <nav role="navigation">
                {% for menuItemKey, menuItemValue in menuItems %}
                    {% if app.request.attributes.get('_route') == menuItemKey %}
                        <span class="active">{{ menuItemValue }}</span>
                    {% else %}
                        <a href="{{ path(menuItemKey) }}">
                            {{ menuItemValue }}
                        </a>
                    {% endif %}
                {% endfor %}
            </nav>
        </section>
        {% if mainMenuCategories %}
            <section class="mainMenu">
                <nav role="navigation">
                    {% for mainMenuCategory in mainMenuCategories %}
                        {% if app.request.attributes.get('_route') and app.request.attributes.get('_route_params') and path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == mainMenuCategory.link %}
                            <span class="active">{{ mainMenuCategory.title }}</span>
                        {% else %}
                            <a href="{{ mainMenuCategory.link }}">
                                {{ mainMenuCategory.title }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </nav>
            </section>
        {% endif %}
    </header>
{% endblock %}
{% block body %}
    <main class="content">
        {% if breadcrumbs is defined %}
            <nav aria-label="breadcrumb" role="navigation">
                <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                    {% for breadcrumb in breadcrumbs %}
                        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            {% if breadcrumb.link %}
                                <a href="{{ breadcrumb.link }}" {% if breadcrumb.seoTitle is defined %}title="{{ breadcrumb.seoTitle }}" {% endif %} itemprop="item">
                                    <span itemprop="name">{{ breadcrumb.title }}</span>
                                </a>
                            {% else %}
                                <span itemprop="name">{{ breadcrumb.title }}</span>
                            {% endif %}
                        </li>
                        {% if not loop.last %}
                            \
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
{% endblock %}
{% block footer %}
    <div class="greenLine"></div>
    <footer>
        <div class="footerItem">
            <h4>Выбирайте одежду в нашем каталоге:</h4>
            <ul>
                <li><a href="/catalog/dlya_mujchin">Мужская одежда</a></li>
                <li><a href="/catalog/dlya_jenshin">Женская одежда</a></li>
                <li><a href="/catalog/dlya_malchikov">Одежда для мальчиков</a></li>
                <li><a href="/catalog/dlya_devochek">Одежда для девочек</a></li>
            </ul>
        </div>
        <div class="footerItem">
            <h4>Полезные ссылки:</h4>
            <ul>
                {% for menuItemKey, menuItemValue in menuItems %}
                    <li>
                        {% if app.request.attributes.get('_route') == menuItemKey %}
                            <span class="active">{{ menuItemValue }}</span>
                        {% else %}
                            <a href="{{ path(menuItemKey) }}">
                                {{ menuItemValue }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="footerItem">
            <h4>Последние статьи:</h4>
            <ul>
                {% for lastArticle in lastArticles %}
                    <li>
                        {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == '/article/' ~ lastArticle.alias %}
                            <span class="active">{{ lastArticle.title|slice(0, 30) ~ '...' }}</span>
                        {% else %}
                            <a href="/article/{{ lastArticle.alias }}">
                                {{ lastArticle.title|slice(0, 30) ~ '...' }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </footer>
{% endblock %}
