{% extends 'AppBundle:look4wear:base.html.twig' %}
{% block metatags %}
    {{ include('AppBundle:look4wear:meta.tags.html.twig') }}
{% endblock %}
{% block counters %}
    {% if (app.environment == 'prod') and ('.lan' not in app.request.host) %}
        {{ include('AppBundle:look4wear:counters.block.html.twig') }}
    {% endif %}
{% endblock %}

{% block header %}
    <div class="mobileBlock">
        <div class="menu__icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <a href="/">
            <img style="margin: 5px 0;" src="/bundles/app/images/logo_L4W.svg" width="50px" title="look4wear.ru - сервис поиска одежды." alt="look4wear - сервис поиска одежды.">
        </a>
    </div>
    <div class="menu__links">
        <a class="menu__links-item" href="/catalog_page">Каталог</a>
        <a class="menu__links-item" href="/about">О проекте</a>
        <a class="menu__links-item" href="/site_map">Карта сайта</a>
        <hr />
        {% if mainMenuCategories %}
            {% for mainMenuCategory in mainMenuCategories %}
                <a class="menu__links-item" href="{{ mainMenuCategory.link }}">{{ mainMenuCategory.title }}</a>
            {% endfor %}
        {% endif %}
        <hr />
        <section class="mobileCategoriesMenu">
            {% include 'AppBundle:look4wear:side.menu.html.twig'%}
        </section>
    </div>
    <header>
        <section>
            <aside>
                <a href="/">
                    <img style="margin: 5px 0;" src="/bundles/app/images/logo_L4W.svg" width="50px" title="look4wear.ru - сервис поиска одежды." alt="look4wear - сервис поиска одежды.">
                </a>
            </aside>
            {{ include('AppBundle:look4wear:search.form.html.twig') }}
            <nav role="navigation">
                <a href="/catalog_page">Каталог</a>
                <a href="/about">О проекте</a>
                <a href="/site_map">Карта сайта</a>
            </nav>
        </section>
        {% if mainMenuCategories %}
            <section class="mainMenu">
                <nav role="navigation">
                    {% for mainMenuCategory in mainMenuCategories %}
                        <a href="{{ mainMenuCategory.link }}">{{ mainMenuCategory.title }}</a>
                    {% endfor %}
                </nav>
            </section>
        {% endif %}
    </header>
{% endblock %}
{% block body %}
    <main class="content">
        {% if breadcrumbs is defined %}
            <nav aria-label="breadcrumb" role="navigation">
                <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                    {% for breadcrumb in breadcrumbs %}
                        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="{{ breadcrumb.link }}" {% if breadcrumb.seoTitle is defined %}title="{{ breadcrumb.seoTitle }}" {% endif %} itemprop="item">
                                <span itemprop="name">{{ breadcrumb.title }}</span>
                            </a>
                        </li>
                        {% if not loop.last %}
                            \
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
{% endblock %}
{% block footer %}
    <div class="greenLine"></div>
    <footer>
        <div class="footerItem">
            <h4>Выбирайте одежду в нашем каталоге:</h4>
            <ul>
                <li><a href="/catalog/dlya_mujchin">Мужская одежда</a></li>
                <li><a href="/catalog/dlya_jenshin">Женская одежда</a></li>
                <li><a href="/catalog/dlya_malchikov">Одежда для мальчиков</a></li>
                <li><a href="/catalog/dlya_devochek">Одежда для девочек</a></li>
            </ul>
        </div>
        <div class="footerItem">
            <h4>Полезные ссылки:</h4>
            <ul>
                <li><a href="/site_map">Карта сайта</a></li>
                <li><a href="/about">О проекте</a></li>
                <li><a href="/shipping">Доставка и возврат</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}
