<ul class="paginationUl">
    {% if pagination.currentPage - 1 > 0 and pagination.currentPage - 1 <= pagination.totalPagesCount%}
        <li>
            <a href="{{ pagination.url }}page={{ pagination.currentPage - 1 }}"> < </a>
        </li>
    {% endif %}
    {% if pagination.currentPage - 2 > 0 and pagination.currentPage - 2 <= pagination.totalPagesCount%}
        <li>
            <a href="{{ pagination.url }}page={{ pagination.currentPage - 2 }}">{{ pagination.currentPage - 2 }}</a>
        </li>
    {% endif %}
    {% if pagination.currentPage - 1 > 0 and pagination.currentPage - 1 <= pagination.totalPagesCount%}
        <li>
            <a href="{{ pagination.url }}page={{ pagination.currentPage - 1 }}">{{ pagination.currentPage - 1 }}</a>
        </li>
    {% endif %}
    {% if pagination.currentPage > 0 and pagination.currentPage <= pagination.totalPagesCount%}
        <li class="currentPage">
            {{ pagination.currentPage }}
        </li>
    {% endif %}
    {% if pagination.currentPage + 1 <= pagination.totalPagesCount %}
            <li>
                <a href="{{ pagination.url }}page={{ pagination.currentPage + 1 }}">{{ pagination.currentPage + 1 }}</a>
            </li>
    {% endif %}
    {% if pagination.currentPage + 2 <= pagination.totalPagesCount %}
            <li>
                <a href="{{ pagination.url }}page={{ pagination.currentPage + 2 }}">{{ pagination.currentPage + 2 }}</a>
            </li>
    {% endif %}
    {% if pagination.currentPage + 1 <= pagination.totalPagesCount %}
        <li>
            <a href="{{ pagination.url }}page={{ pagination.currentPage + 1 }}"> > </a>
        </li>
    {% endif %}
</ul>