{% spaceless %}
    {% if pagination.totalPagesCount > 1 %}

    {# Number of page around current page+1 #}
    {% set nearbyPagesLimit = 4 %}

    <ul class="paginationUl">
        {% if pagination.currentPage != 1 %}
            <li>
                <a href="{{ pagination.url }}page={{ 1 }}">Первая</a>
            </li>
        {% endif %}
        {% for i in 1..pagination.totalPagesCount %}
            {% if 0 < (pagination.currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #}
            {% elseif 0 > (pagination.currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
            {% else %}
                <li {% if pagination.currentPage == loop.index  %} class="currentPage"{% endif %}>
                    <a href="{{ pagination.url }}page={{ loop.index }}">{{ loop.index }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if pagination.currentPage != pagination.totalPagesCount %}
            <li>
                <a href="{{ pagination.url }}page={{ pagination.totalPagesCount }}">Последняя</a>
            </li>
        {% endif %}
    </ul>
    {% endif %}
{% endspaceless %}