{% extends 'AppBundle:look4wear:layout.html.twig' %}

{% block content %}
    <div class="row">
        <ul style="margin: 0 auto; width: 70%;">
            <h1>Карта сайта look4wear.ru</h1>
            {% macro recursiveCategory(category) %}
                {% import _self as self %}
                <li>
                    {% if not category.parentCategory %}
                        <h4>
                    {% else %}
                        <h5>
                    {% endif %}
                        <a href="{{ category|get_category_url }}" title="{{ category.seoTitle }}">{{ category.title }}</a>
                    {% if not category.parentCategory %}
                        </h4>
                    {% else %}
                        </h5>
                    {% endif %}

                    {% if category.childrenCategories|length %}
                        <ul style="margin: 0 10px;">
                            {% for child in category.childrenCategories %}
                                {{ self.recursiveCategory(child) }}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endmacro %}
            {% import _self as self %}
            {% if parentCategories %}
                <div id="categories">
                    <ul>
                        {% for category in parentCategories %}
                            {{ self.recursiveCategory(category) }}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </ul>
    </div>
{% endblock %}
