{% if categoryTopVendorsResult|length > 0 %}
    <hr />
    <div class="titleDiv">
        <h3>{{ title }}:</h3>
    </div>
    <div class="vendorsWrapper">
        {% for categoryTopVendor in categoryTopVendorsResult %}
            {% if loop.index <= 10 %}
                <a href="{{ actualCategory|get_category_url }}/brand/{{ categoryTopVendor.alias }}"
                   title="Купить {{ actualCategory.title }} {{ categoryTopVendor.name }}. Товаров: {{ categoryTopVendor.count }} шт."
                   class="categoryTopVendor">
                    <div class="item">
                        {% if categoryTopVendor.imgUrl %}
                            <img src="{{ asset('media/brands/' ~ categoryTopVendor.imgUrl) }}" alt="изображение {{ actualCategory.title }} {{ categoryTopVendor.name }}">
                        {% else %}
                            {{ categoryTopVendor.name }}
                        {% endif %}
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}