<div class="titleDiv">
    <h3>{{ title }}:</h3>
</div>
{% if categoryTopVendorsResult|length > 0 %}
    <div class="vendorsWrapper">
        {% for categoryTopVendor in categoryTopVendorsResult %}
            {% if loop.index <= 10 %}
                <div class="item">
                    <a href="/filter/{{ category.alias }}/{{ categoryTopVendor.alias }}"
                       title="{{ category.title }} {{ categoryTopVendor.name }}. Товаров: {{ categoryTopVendor.count }} шт."
                       class="categoryTopVendor">
                        {% if categoryTopVendor.imgUrl %}
                            <img src="{{ asset('media/brands/') }}{{ categoryTopVendor.imgUrl }}" alt="">
                        {% else %}
                            {{ categoryTopVendor.name }}
                        {% endif %}
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}