{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{{ info.title }}</h3>
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <tbody>
                    {% for lessGoods in info.lessGoodsArray %}
                        <tr>
                            <td class="sonata-ba-list-label" style="width: 25%;">
                                {{ lessGoods.category.title }}
                            </td>
                            <td class="sonata-ba-list-label" style="width: 25%;">
                                {{ lessGoods.topVendorName }}
                            </td>
                            <td class="sonata-ba-list-label">
                                <a href="https://look4wear.ru/filter/{{ lessGoods.category.alias }}/{{ lessGoods.topVendorName }}" target="_blank">ссылка</a>
                            </td>
                            <td class="sonata-ba-list-label">
                                {{ lessGoods.topVendorCount }}
                            </td>
                            <td class="sonata-ba-list-label">
                                {{ lessGoods.realCount }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}